---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About Me";

const identity = {
    firstName: "Steve",
    country: "Canada",
    occupation: "Software Developer",
    hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Writing Documentation"];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<BaseLayout pageTitle={pageTitle}>
		<h1>{pageTitle}</h1>
        <h2>And this silly new site of mine.</h2>
        <p>I am working on the intro tutorial for Astro.</p>
        <p>As I complete this tutorial and check in code, more stuff will show up on this website.</p>

        <p>Here's some silly facts about me:</p>
        <ul>
            <li>My name is {identity.firstName}</li>
            <li>I live in {identity.country}, working as a {identity.occupation}.</li>
            <li>My hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
        </ul>

        <p>My skills are many. Here are but a few among them:</p>
        <ul>
            {skills.map((skill) => <li class="skill">{skill}</li>)}
        </ul>

        {happy && <p>I am happy to be learning Astro!</p>}
        {finished && <p>I have finished the tutorial.</p>}
        {goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days</p>}
    </BaseLayout>